html, body {
  width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.form-wrapper {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #0f172a, #38bdf8);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Heading */
.form-heading {
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* Form Card */
.user-form {
  background: #ffffff;
  width: 360px;
  padding: 25px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* Inputs */
.user-form input[type="text"],
.user-form input[type="email"],
.user-form input[type="file"] {
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  outline: none;
}

.user-form input:focus {
  border-color: #2563eb;
}

/* Button */
.user-form button {
  padding: 10px;
  background: #2563eb;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

.user-form button:hover {
  background: #1d4ed8;
}
